


/** --------------------------------------------------------------
 * CSS3 mixins.
 * 
 */

 


.border-radius(@radius:5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@shadow:5px 5px 5px 5px @grey) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
.transition(@property: all, @time: 1s, @timing: ease-in-out) {
  -webkit-transition: @property @time @timing;
     -moz-transition: @property @time @timing;
      -ms-transition: @property @time @timing;
       -o-transition: @property @time @timing;
          transition: @property @time @timing;
}
.transition-property(@property: all) {
  -webkit-transition-property: @property;
     -moz-transition-property: @property;
      -ms-transition-property: @property;
       -o-transition-property: @property;
          transition-property: @property;
}
.transition-duration(@time: 1s) {
  -webkit-transition-duration: @time;
     -moz-transition-duration: @time;
      -ms-transition-duration: @time;
       -o-transition-duration: @time;
          transition-duration: @time;
}
.transition-timing-function(@timing: ease-in-out) {
  -webkit-transition-timing-function: @timing;
     -moz-transition-timing-function: @timing;
      -ms-transition-timing-function: @timing;
       -o-transition-timing-function: @timing;
          transition-timing-function: @timing;
}
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.skew(@x, @y) {
  -webkit-transform: skew(@x, @y);
     -moz-transform: skew(@x, @y);
      -ms-transform: skew(@x, @y);
       -o-transform: skew(@x, @y);
          transform: skew(@x, @y);
}
.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.translate3d(@x, @y, @z) {
  -webkit-transform: translate(@x, @y, @z);
     -moz-transform: translate(@x, @y, @z);
      -ms-transform: translate(@x, @y, @z);
       -o-transform: translate(@x, @y, @z);
          transform: translate(@x, @y, @z);
}
.transform(@functions) {
  -webkit-transform: @functions;
     -moz-transform: @functions;
      -ms-transform: @functions;
       -o-transform: @functions;
          transform: @functions;
}

.placeholder(@placeHolderColor) {
    ::-webkit-input-placeholder {
        color: @placeHolderColor;
    }
    :-moz-placeholder {
        color: @placeHolderColor;
    }
    ::-moz-placeholder {
      color: @placeHolderColor;
    }
}


  /*****************************/
 /************Cüller***********/
/*****************************/
@mainColor:#2b4e72;
@secondaryColor:#2790b0;
@black:#000;
@blue:#049cdb;
@green:#46a546;
@red:#9d261d;
@yellow:#ffc40d;
@orange:#f89406;
@grey:#555;
@greyLight:#999;
@greyLighter:#eee;
@darkGrey:#404040;
@lightBlue:lightblue;
@placeHolderColor:rgb(43, 78, 114);

  /*****************************/
 /************Sizes************/
/*****************************/

@leftNav:170px;
@navMargin:10px;

  /*****************************/
 /*********good to have********/
/*****************************/
@images:"../img/";

#sidebar{
  background: white;
  width: @leftNav;
  float: left;
  box-shadow: inset -1px 0 0 #303030;
  position: fixed;
  height: 100%;
  overflow: hidden;
  .placeholder(@placeHolderColor);

  img{
    display: block;
    width: 90%;
    margin: 20px auto 20px auto; 

  }

  #search{
    padding-left: 3px; 
    margin: @navMargin @navMargin calc(@navMargin *2) @navMargin;
    width: calc(@leftNav - 20px);
    border: 1px sold black;
    height: 30px;

    &:focus{
      outline: 0;
    }
  }

  ul{
    margin: @navMargin; 
   list-style: none;

    li{
      margin-bottom: @navMargin;
    }
  }
}

#container{
   background: url("@{images}bucketBG.png")center no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: @leftNav;
  min-height: 100%;
}

.bucket-container{
  margin-top: 200px;
}

 .icon{
    position: relative;
    height: 70px;
    width: 8.33333333%;
    background: center no-repeat;
    display: inline-block;
    float: left;
    overflow: hidden;
    cursor: pointer;
  }

  .icon:before{
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    .skew(@x:-12deg, @y:0);
    background: rgba(255, 255, 255, 0.2);
    left: -37px;
  }

  .icon:hover:before{
    .transition(@property: all, @time: 400ms, @timing: ease-in-out);
    left:100px;
    background: rgba(255, 255, 255, 0.4);
  }

.icon.in-active{
  background-color: gray;
}

.icon.in-active:hover:before{
    display: none;
}

@icon-colors: 
    #55b2a9,
    #e93333,
    #00a6cc,
    #e587a2,
    #d82157,
    #60bb51,
    #a4cd3a,
    #fedf00,
    #7c469b,
    #f29020,
    #8194cb,
    #b5b5b5;

.generate-icons(@i: length(@icon-colors)) when (@i > 0) {
    .generate-icons((@i - 1));
      .icon_@{i} {
        background-color: extract(@icon-colors, @i);
        background-image: url('@{images}icons/icon_@{i}.svg');
      }
    }

.generate-icons();


.bucket-list{
  background: red;
}
.bucket-list-item{
  width: 100%;
  background: white;
  margin-bottom: 10px;
  height: 120px;
  display: inline-block;
}
.bucket-index-container{
  height: 100%;
  display: inline-block;
   .bucket-index{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: tomato;
      line-height: 50px;
      margin: 35px auto 0 auto;
      text-align: center;
      font-size: 1.5em;
   }
}
.bucket-text-container{
  vertical-align: top;
  display: inline-block;
  height: 100%;
  overflow: hidden;

    h1{
      font-size: 1.9em;
  }
}

.bucket-controller-container{
   height: 100%;
   .drag-drop{
      font-size: 2.5em;
      text-align: center;
   }
   .edit-list-item{
      text-align: center;
      font-size: 1.7em;
      line-height: 10px;
   }
}


@media only screen and (min-width: 30px) and (max-width: 1190px) {
  #container{
     margin-left: -@leftNav;
     margin: 0 auto;
  }
  #sidebar{
    margin-left: -@leftNav;
  }
}